[sftp connection info]
SFTP_REMOTE_PATH = "SFTP HOST TO CONNECT TO"
SFTP_USERNAME = "SFTP USERNAME ON THAT HOST"

[key credentials]
RSA_PASSWORD = "YOUR RSA KEY'S PASSWORD"
RSA_KEY_BASE64 = "YOUR RSA KEY, BASE 64 ENCODED"
RSA_PRIVATE_KEY = "YOUR RSA KEY"

[domo data]
DOMO_DATASET_ID = "YOUR DOMO DATASET ID. DIFFERENT FOR EVERY DATA SET"
